%h1
  O nas
%article
  %div
    %h2
      Jesteśmy:
    %ul
      %li
        programistami, korzystającymi z najnowszych nowinek technologicznych, aby dostarczać w pełni działające i konkurencyjne produkty
      %li
        grafikami, stosującymi modne standardy i chwytliwe projekty 
      %li
        soldinymi pracownikami, którzy najbardziej cenią sobie zadowolenie swoich klientów

    Ale przedewszystkim jesteśmy dobrymi człowiekami!