%h1
  TROLRORLRORLOLOLOLOLOOOOOOOOOOOOOO ZALOGUJ SIE PAJACU
%article
  %p
    Trolo l o lo l ololollo Trolo l o lo l olololloTrolo l o lo l olololloTroloTrolo l o lo l olololloTrolo l o lo l olololloTrolo l o lo l olololloTrolo l o lo l olololloTrolo l o lo l olololloTrolo l o lo l olololloTrolo l o lo l olololloTrolo l o lo l olololloTrolo l o lo l olololloTrolo l o lo l olololloTrolo l o lo l olololloTrolo l o lo l olololloTrolo l o lo l olololloTrolo l o lo l olololloTrolo l o lo l olololloTrolo l o lo l ololollo
%aside
  = image_tag "sciezka_obrazka.jpg", :width => 200, :height => 400