%h1
  BigBalls
%article
  %p
    %br
      Jestes właścicielem klubu bilardowego?
    %br
      Chciałbyś zautomatyzować zarządzanie swoimi stołami, ale autorskie systemy są dla Ciebie za drogie? A może chciałbys poprawić ergonomie pracy swoich pracowników?
    %br
      Dobrze trafiłeś!
      1) Zarejestruj się na stronie
      2) Dodaj swój klub
      3) Zarządzaj swoim klubem gdziekolwiek jesteś! 
    %br
      Nasza aplikacja jest multiplatformowa, uruchomisz ją na kązdym sprzęcie. Natomiast, aby zarządzać klubami wystarczy Ci zwykła przeglądarka internetowa. To na prawdę proste!
%aside
  = image_tag "sciezka_obrazka.jpg"