%h1
  BigBalls
= image_tag "home.png"
%article
  %div
    %h2
      Jesteś właścicielem klubu bilardowego?
    %br
      Chciałbyś zautomatyzować zarządzanie swoimi stołami, ale autorskie systemy są dla Ciebie za drogie? A może chciałbys poprawić ergonomię pracy swoich pracowników?
    %h2
      Dobrze trafiłeś!
    %ul
      %li
        1) Zarejestruj się na stronie
      %li
        2) Dodaj swój klub
      %li
        3) Zarządzaj swoim klubem gdziekolwiek jesteś!
    %br
      Nasza aplikacja jest multiplatformowa, uruchomisz ją na każdym sprzęcie. Natomiast, aby zarządzać klubami wystarczy Ci zwykła przeglądarka internetowa.
    %br
      To na prawdę proste!