%h1
  Oferta
%article
  %div
    %h2
      Ile to kosztuje?
    %br
      Miesięczny koszt dostępu do naszego systemu wynosi zaledwie 49zł.
      Co zyskujesz?
    %h2
      1) Dostęp do panelu administratora, dzięki któremu możesz:
    
    %ul
      %li
        dodać swoje kluby
      %li
        zadeklarować ilość stołów w swoich lokalach osobno dla każdego klubu
      %li
        multiplatformową aplikację kliencką (zawsze aktualna wersja)