%h1
  Oferta
%article
  %div
    %h2
      Ile to kosztuje?
    %br
      Miesięczny koszt dostępu do naszego systemu wynosi zaledwie 49zł.
      Co zyskujesz?
    %h2
      1) Dostęp do panelu administracyjnego, dzięki któremu możesz:

    %ul
      %li
        dodać swoje kluby
      %li
        zadeklarować ilość stołów w swoich lokalach osobno dla każdego klubu
    %h2
      2) Multiplatformową aplikację kliencką (zawsze aktualna wersja)