html {
  background: url('BG3.png');
  background-color: black;
  -moz-box-shadow:inset 10px 10px 200px black;
  -webkit-box-shadow:inset 10px 10px 200px black;
  box-shadow:inset 10px 10px 200px black;

  font-family: "Pontano Sans", sans-serif;
  body {

    label{
      text-align: right;
      padding-right: 15px;
    }
    form {
      width: 280px;
      margin: 0 auto;
      list-style: none;
      li{
        margin-bottom: 3px;

        label{
          margin-right: 5px;
        }
       }

        #user_picture_input{
            margin-top: 10px;
        }

        #user_best_club_input{
          margin-bottom: 20px;
        }

      li.datetime{
        height: auto;
        padding: 0;
        fieldset{
          height: 50px;
          margin-left: -10px;
          margin-right: 2px;
          margin-bottom: 10px;
          border: none;
          legend{
            height: 10px;
            label{
              width: auto;
            }
          }
          ol{
            list-style: none;
            width: 600px;
            li{
              width: 60px;
              float: left;
              label{
                display: none;
                margin-left: -20px;
              }
              select{
                margin-left: -20px;
              }
            }
            #user_birthday_2i{
              width: 85px;
              padding-right: 20px;
            }
          }
        }
      }

      input, textarea, select{
        border: none;
        padding: 8px; 
         border-radius: 10px;
        -moz-border-radius: 10px;         
        -webkit-border-radius: 10px;
        -khtml-border-radius: 10px;}
      label {
        font-weight: bold;
        color:white;
        margin-top: 4px;
        width: 65px;
        display: block;
        float: left; }
      input[type=text], input[type=password], input[type=email] #owner_token, #owner_phone {
        height:10px;
        text-align: center;
      }
      input[type=submit] {
        float: left;
        border: 2px solid black;
        background: rgb(246,248,249); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* IE10+ */
        background: linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
        -moz-box-shadow:inset 1px 1px 15px black;
        -webkit-box-shadow:inset 1px 1px 15px black;
        box-shadow:inset 1px 1px 15px black;
        margin-right: 23px;
        margin-top: 10px;
        width: auto; }
      .inline-errors {
        display: inline; } 
      input:focus, textarea:focus, select:hover{
        border: 3px solid black;
        border-radius: 10px;
        -moz-border-radius: 10px;         
        -webkit-border-radius: 10px;
        -khtml-border-radius: 10px;
      }
      input[type=submit]:hover
      {
        border: 3px solid white;
        background: red;
        -moz-box-shadow:inset 1px 2px 100px black;
        -webkit-box-shadow:inset 1px 2px 100px black;
        box-shadow:inset 1px 2px 100px black;
        color: white; 
        font-weight: bold;
      }
      input[type-submit]:focus
      {
        border: 3px solid white;
        background: red;
        color: black; 
        -moz-box-shadow:inset 1px 2px 100px white;
        -webkit-box-shadow:inset 1px 2px 100px white;
        box-shadow:inset 1px 2px 100px white;
      }}

      h1{
        color:white;
        text-align: center;
        font-weight: bold;
        width: 1030px;
        padding-left: 20px;
        -moz-box-shadow:inset 1px 1px 15px black;
        -webkit-box-shadow:inset 1px 1px 15px black;
        box-shadow:inset 1px 1px 15px black;
        border-radius: 10px;
        -moz-border-radius: 10px;         
        -webkit-border-radius: 10px;
        -khtml-border-radius: 10px;
        padding: 5px;
    }

      article {
      text-align: justify;
      color: white; 
      margin: 0 auto;
    }

      a{
        color: white;
        margin-right: 15px;
      }
      a:hover{
        font-weight: bold;
      }


    header, nav, footer, section.main {
      padding: 20px;
      margin: 0 auto;
      width: 1060px;
      border: 1px solid white; 
      border-radius: 10px;
      -moz-border-radius: 10px;         
      -webkit-border-radius: 10px;
      -khtml-border-radius: 10px;
    }
    header {
      background: darkred;
      -moz-box-shadow:inset 1px 2px 135px black;
      -webkit-box-shadow:inset 1px 2px 135px black;
      box-shadow:inset 1px 2px 135px black;

      height: 100px;
      #logo {
        float: left;
        height: 80px;
        width: 780px;
        color: white;
      }
      #user_panel {
        a{
          color: white;
          text-decoration: none;
          margin-right: 15px;
        }

        a:hover{
          font-weight: bold;
        }
        margin-left: 20px;
        float: left;
        height: 30px;
        width: 250px;
        text-align: center;
        color: white;
       } }

    nav {
      margin-top: 10px;
      margin-bottom: 10px;
      background: rgb(246,248,249); /* Old browsers */
      background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* IE10+ */
      background: linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
      -moz-box-shadow:inset 1px 1px 15px black;
      -webkit-box-shadow:inset 1px 1px 15px black;
      box-shadow:inset 1px 1px 15px black;
      ul {
        margin-top: -20px;
        list-style: none;
        li {
            a{
              span{
                  width: 95px;
                  text-align: center;
                  display: block;
                  background: rgb(246,248,249); /* Old browsers */
                  background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6+ */
                  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1))); /* Chrome,Safari4+ */
                  background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
                  background: -o-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Opera 11.10+ */
                  background: -ms-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* IE10+ */
                  background: linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C */
                  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
                  -moz-box-shadow:inset 1px 1px 1px black;
                  -webkit-box-shadow:inset 1px 1px 1px black;
                  box-shadow:inset 1px 1px 1px black;
                  border: 2px solid white;
                  color: black;
                  padding: 10px;
                  border-top: none;
                  border-bottom: none;
                  border-left: none;
                  border-radius: 10px;
                  float: left;
                  font-weight: bold;
                  }}
            a:hover
            {
              span{
                margin-top: -1px;
                border-radius: 10px;
                border: 2px solid black;
                background: red;
                -moz-box-shadow:inset 1px 2px 100px black;
                -webkit-box-shadow:inset 1px 2px 100px black;
                box-shadow:inset 1px 2px 100px black;
                color: white; 
                border-top: none;
                border-left: none;
              } }
            a:active
            {
              span{
                margin-top: -1px;
                background: red;
                border-radius: 10px;
                border: 2px solid black;
                -moz-box-shadow:inset 1px 2px 100px white;
                -webkit-box-shadow:inset 1px 2px 100px white;
                box-shadow:inset 1px 2px 100px white;
                color: white; 
                border-top: none;
                border-left: none;
              } }
               } } }
    footer {
      margin-top: 10px;
      height: 2px;
      background: rgb(246,248,249); /* Old browsers */
      background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* IE10+ */
      background: linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
      -moz-box-shadow:inset 1px 1px 15px black;
      -webkit-box-shadow:inset 1px 1px 15px black;
      box-shadow:inset 1px 1px 15px black;
      p{
        margin-top: -7px;
        text-align: center;
        font-weight: bold;
      }
    }
    section.main {

      background: darkred;
      -moz-box-shadow:inset 1px 2px 300px black;
      -webkit-box-shadow:inset 1px 2px 300px black;
      box-shadow:inset 1px 2px 300px black;

      min-height: 460px;
      h2 {
        font-size: 18px;
      }
      #notice_box, #alert_box {
        text-align: center;
        border-radius: 10px;
        -moz-border-radius: 10px;         
        -webkit-border-radius: 10px;
        -khtml-border-radius: 10px;
        border-bottom: none;
        border-right: none;
      }
      #notice_box {
        font-weight: bold;
        padding: 4px;
        background: green;
        color: white;
        border: 1px solid white;
        -moz-box-shadow:inset 1px 1px 9px white;
        -webkit-box-shadow:inset 1px 1px 9px white;
        box-shadow:inset 1px 1px 9px white;

      }
      #alert_box {
        font-weight: bold;
        padding: 4px;
        background: red;
        color: black;
        border: 1px solid black;
        -moz-box-shadow:inset 1px 1px 9px black;
        -webkit-box-shadow:inset 1px 1px 9px black;
        box-shadow:inset 1px 1px 9px black;
      }
     } }

  .home_controller{
    .index_action {
      ul{
        list-style: none;
      }
      article
      {
        float: left;
        width: 800px;
      }  
      aside{
        float: right;
        margin-right: 50px;
      }  
    }
  }

  .users_controller{
    .index_action{
      text-align: left;
      ul{
        margin-left: -20px;
        list-style: none;
        li{
          margin-left: -20px; 
          color: white;
        }
      }
    }
    .show_action{
      p{
        font-weight: bold;
        margin: 0 auto;
      }
    }
    .edit_action{
      form{
        height:1000px;
        li{
          float:bottom;
          padding: 10px;
          margin: 0 auto;
        }
      }   
    }
}

  .clubs_controller{



    #club_post_code_input{
      margin-bottom: 10px;

    }

    #club_post_code_input{
      padding-bottom: 10px;
    }

    #club_street_input{
      margin-bottom: 3px;
    }

    #club_description_input{
      margin-top:10px;
    }

    .edit_action{

      form{
        height: 550px;
      }

      input[type-submit]{
        margin-top: 20px;
        margin-right: 50px;
        padding-right: 50px;
      }
    }
  }
}   