html {
  background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

  -moz-box-shadow:inset 1px 2px 135px black;
  -webkit-box-shadow:inset 1px 2px 135px black;
  box-shadow:inset 1px 2px 135px black;

  font-family: "Pontano Sans", sans-serif;
  body {
    header, nav, footer, section.main {
      padding: 20px;
      margin: 0 auto;
      width: 1060px;
      border: 1px solid rgb(122,15,15); 
      border-radius: 10px;
      -moz-border-radius: 10px;         
      -webkit-border-radius: 10px;
      -khtml-border-radius: 10px;
    }
    header {
      background: red;
      -moz-box-shadow:inset 1px 2px 135px black;
      -webkit-box-shadow:inset 1px 2px 135px black;
      box-shadow:inset 1px 2px 135px black;

      height: 100px;
      #logo {
        float: left;
        height: 80px;
        width: 800px;
        border: 1px solid white; }
      #user_panel {
        float: left;
        height: 30px;
        width: 250px;
        text-align: right;
        border: 1px solid white;
       } }
    nav {
      height: 30px;
      background: rgb(246,248,249); /* Old browsers */
      background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* IE10+ */
      background: linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
      -moz-box-shadow: 3px 4px 0px black;
      -webkit-box-shadow: 3px 4px 0px black;
      box-shadow: 3px 4px 0px black;
      ul {
        margin-top: -20px;
        margin-right: 30px;
        list-style: none;
        li {
            a{
              span{

                  display: block;
                  background: rgb(246,248,249); /* Old browsers */
                  background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6+ */
                  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1))); /* Chrome,Safari4+ */
                  background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
                  background: -o-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Opera 11.10+ */
                  background: -ms-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* IE10+ */
                  background: linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C */
                  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */

                  
                  padding: 25px;
                  border: 2px solid black;
                  border-top: none;
                  border-bottom: none;
                  border-left: none;
                  border-radius: 10px;
                  float: left;
                  margin-right: 10px; 
                  color: black;
                  font-weight: bold;
                  -moz-box-shadow:inset 3px 0px 5px white;
                  -webkit-box-shadow:inset 3px 0px 5px white;
                  box-shadow:inset 3px 0px 5px white;
                  }}
            a:hover
            {
              span{
              margin-top: -1px;
              background: red;
              border-radius: 10px;
              border: 2px solid black;
              -moz-box-shadow:inset 1px 2px 100px black;
              -webkit-box-shadow:inset 1px 2px 100px black;
              box-shadow:inset 1px 2px 100px black;
              color: white;
              border-top: none;
              border-left: none;
              } } } } }

    footer {
      height: 80px;
      text-align: center; 
      background: rgb(246,248,249); /* Old browsers */
      background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* IE10+ */
      background: linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
      -moz-box-shadow: 0px -4px 0px black;
      -webkit-box-shadow: 0px -4px 0px black;
      box-shadow: 0px -4px 0px black;

    }
    section.main {

      background: red;
      -moz-box-shadow:inset 1px 2px 300px black;
      -webkit-box-shadow:inset 1px 2px 300px black;
      box-shadow:inset 1px 2px 300px black;

      min-height: 480px;
      h1 {
        font-size: 24px;
      }
      h2 {
        font-size: 18px;
      }
      #notice_box, #alert_box {
        height: 35px;
        border: 1px solid black;
      }
      #notice_box {
        background: green;
      }
      #alert_box {
        background: red;
      }
      article {
        text-align: justify;
        color: white; } } }


  .user_sessions_controller {
    .new_action, .create_action {
      form {
        width: 280px;
        margin: 0 auto;
        width: auto;
        list-style: none;
        input {
          border: none;
          padding: 10px; }
        label {
          margin-top: 3px;
          width: 65px;
          display: block;
          float: left; }
        input[type=text], input[type=password] {
          direction: rtl; }
        input[type=submit] {
          float: right;
          background: orange;
          margin-right: 23px;
          width: 95px; }
        .inline-errors {
          display: inline; } } } } 

  .home_controller{
    .about_action, .offert_action, .price_action {
      form{}    


    }
  }

  .users_controller{


  }

        }