html {
  background: url('BG3.png');
  background-color: black;
  -moz-box-shadow:inset 10px 10px 200px black;
  -webkit-box-shadow:inset 10px 10px 200px black;
  box-shadow:inset 10px 10px 200px black;

  font-family: "Pontano Sans", sans-serif;
  body {
    header, nav, footer, section.main {
      padding: 20px;
      margin: 0 auto;
      width: 1060px;
      border: 1px solid white; 
      border-radius: 10px;
      -moz-border-radius: 10px;         
      -webkit-border-radius: 10px;
      -khtml-border-radius: 10px;
    }
    header {
      background: darkred;
      -moz-box-shadow:inset 1px 2px 135px black;
      -webkit-box-shadow:inset 1px 2px 135px black;
      box-shadow:inset 1px 2px 135px black;

      height: 100px;
      #logo {
        float: left;
        height: 80px;
        width: 780px;
        color: white;
        -moz-border-radius: 10px;         
        -webkit-border-radius: 10px;
        -khtml-border-radius: 10px;
        -moz-box-shadow:inset 1px 1px 15px white;
        -webkit-box-shadow:inset 1px 1px 15px white;
        box-shadow:inset 1px 1px 15px white;
      }
      #user_panel {
        a{
          color: white;
          text-decoration: none;
          margin-right: 15px;
        }

        a:hover{
          font-weight: bold;
        }
        margin-left: 20px;
        float: left;
        height: 30px;
        width: 250px;
        text-align: center;
        color: white;
        -moz-box-shadow:inset 1px 1px 15px white;
        -webkit-box-shadow:inset 1px 1px 15px white;
        box-shadow:inset 1px 1px 15px white;
        -moz-border-radius: 10px;         
        -webkit-border-radius: 10px;
        -khtml-border-radius: 10px;
       } }
    nav {
      height: 30px;
      background: rgb(246,248,249); /* Old browsers */
      background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* IE10+ */
      background: linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
      -moz-box-shadow:inset 1px 1px 15px black;
      -webkit-box-shadow:inset 1px 1px 15px black;
      box-shadow:inset 1px 1px 15px black;
      ul {
        margin-top: -20px;
        margin-right: 30px;
        list-style: none;
        li {
            a{
              span{
                  display: block;
                  background: rgb(246,248,249); /* Old browsers */
                  background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6+ */
                  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1))); /* Chrome,Safari4+ */
                  background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
                  background: -o-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Opera 11.10+ */
                  background: -ms-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* IE10+ */
                  background: linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C */
                  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
                  -moz-box-shadow:inset 1px 1px 1px black;
                  -webkit-box-shadow:inset 1px 1px 1px black;
                  box-shadow:inset 1px 1px 1px black;
                  border: 2px solid white;
                  color: black;
                  padding: 24px;
                  border-top: none;
                  border-bottom: none;
                  border-left: none;
                  border-radius: 10px;
                  float: left;
                  margin-right: 0px; 
                  font-weight: bold;
                  }}
            a:hover
            {
              span{
                margin-top: -1px;
                border-radius: 10px;
                border: 2px solid black;
                background: red;
                -moz-box-shadow:inset 1px 2px 100px black;
                -webkit-box-shadow:inset 1px 2px 100px black;
                box-shadow:inset 1px 2px 100px black;
                color: white; 
                border-top: none;
                border-left: none;
              } }
            a:active
            {
              span{
                margin-top: -1px;
                background: red;
                border-radius: 10px;
                border: 2px solid black;
                -moz-box-shadow:inset 1px 2px 100px white;
                -webkit-box-shadow:inset 1px 2px 100px white;
                box-shadow:inset 1px 2px 100px white;
                color: white; 
                border-top: none;
                border-left: none;
              } }
               } } }
    footer {
      height: 35px;
      background: rgb(246,248,249); /* Old browsers */
      background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* IE10+ */
      background: linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
      -moz-box-shadow:inset 1px 1px 15px black;
      -webkit-box-shadow:inset 1px 1px 15px black;
      box-shadow:inset 1px 1px 15px black;
      margin-top: 20px;
      ul {
        width: 700px;
        padding: 5px;
        list-style: none;
        margin: 0 auto;
        margin-top: -3px;
        li {
            a{
              span{
                margin-right: 10px;
                  text-align:center;
                  width: 200px;
                  display: block;
                  background: rgb(246,248,249); /* Old browsers */
                  background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6+ */
                  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1))); /* Chrome,Safari4+ */
                  background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
                  background: -o-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Opera 11.10+ */
                  background: -ms-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* IE10+ */
                  background: linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C */
                  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
                  -moz-box-shadow:inset 1px 1px 1px black;
                  -webkit-box-shadow:inset 1px 1px 1px black;
                  box-shadow:inset 1px 1px 1px black;
                  border: 2px solid white;
                  color: black;
                  padding: 6px;
                  border-top: none;
                  border-bottom: none;
                  border-left: none;
                  border-radius: 10px;
                  float: left;
                  font-weight: bold;
                  }}
            a:hover
            {
              span{

              border-radius: 10px;
              border: 2px solid black;
              background: red;
              -moz-box-shadow:inset 1px 2px 100px black;
              -webkit-box-shadow:inset 1px 2px 100px black;
              box-shadow:inset 1px 2px 100px black;
              color: white; 
              border-top: none;
              border-left: none;
              } }
            a:active
            {
              span{
              background: red;
              border-radius: 10px;
              border: 2px solid black;
              -moz-box-shadow:inset 1px 2px 100px white;
              -webkit-box-shadow:inset 1px 2px 100px white;
              box-shadow:inset 1px 2px 100px white;
              color: white; 
              border-top: none;
              border-left: none;
              } }
               } } 
    }
    section.main {

      background: darkred;
      -moz-box-shadow:inset 1px 2px 300px black;
      -webkit-box-shadow:inset 1px 2px 300px black;
      box-shadow:inset 1px 2px 300px black;

      min-height: 480px;
      h1 {
        font-size: 24px;
      }
      h2 {
        font-size: 18px;
      }
      #notice_box, #alert_box {
        text-align: center;
        border-radius: 10px;
        -moz-border-radius: 10px;         
        -webkit-border-radius: 10px;
        -khtml-border-radius: 10px;
        border-bottom: none;
        border-right: none;
      }
      #notice_box {
        font-weight: bold;
        padding: 4px;
        background: green;
        color: white;
        border: 1px solid white;
        -moz-box-shadow:inset 1px 1px 9px white;
        -webkit-box-shadow:inset 1px 1px 9px white;
        box-shadow:inset 1px 1px 9px white;

      }
      #alert_box {
        font-weight: bold;
        padding: 4px;
        background: red;
        color: black;
        border: 1px solid black;
        -moz-box-shadow:inset 1px 1px 9px black;
        -webkit-box-shadow:inset 1px 1px 9px black;
        box-shadow:inset 1px 1px 9px black;
      }
      article {
        text-align: justify;
        color: white; } } }


  .user_sessions_controller {
    .new_action, .create_action {

      h1{
        color:white;
        font-weight: bold;
        width: 120px;
        -moz-box-shadow:inset 1px 1px 15px black;
        -webkit-box-shadow:inset 1px 1px 15px black;
        box-shadow:inset 1px 1px 15px black;
        border-radius: 10px;
        -moz-border-radius: 10px;         
        -webkit-border-radius: 10px;
        -khtml-border-radius: 10px;
        padding: 5px;}
      form {
        width: 280px;
        margin: 0 auto;
        list-style: none;
        li{
          margin-bottom: 3px;
          height: 36px;

        }
        input {
          border: none;
          padding: 8px; 
           border-radius: 10px;
          -moz-border-radius: 10px;         
          -webkit-border-radius: 10px;
          -khtml-border-radius: 10px;}
        label {
          font-weight: bold;
          color:white;
          margin-top: 4px;
          width: 65px;
          display: block;
          float: left; }
        input[type=text], input[type=password] {
          height:10px;
          direction: rtl; 
        }
        input[type=submit] {
          float: left;
          border: 2px solid black;
          background: rgb(246,248,249); /* Old browsers */
          background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1))); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Opera 11.10+ */
          background: -ms-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* IE10+ */
          background: linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
          -moz-box-shadow:inset 1px 1px 15px black;
          -webkit-box-shadow:inset 1px 1px 15px black;
          box-shadow:inset 1px 1px 15px black;
          margin-right: 23px;
          margin-top: 10px;
          width: 95px; }
        .inline-errors {
          display: inline; } 
        input:focus{
          border: 3px solid black;
          border-radius: 10px;
          -moz-border-radius: 10px;         
          -webkit-border-radius: 10px;
          -khtml-border-radius: 10px;
        }
        input[type=submit]:hover
        {
          border: 3px solid white;
          background: red;
          -moz-box-shadow:inset 1px 2px 100px black;
          -webkit-box-shadow:inset 1px 2px 100px black;
          box-shadow:inset 1px 2px 100px black;
          color: white; 
          font-weight: bold;
        }
        input[type-submit]:focus
        {
          border: 3px solid white;
          background: red;
          color: black; 
          -moz-box-shadow:inset 1px 2px 100px white;
          -webkit-box-shadow:inset 1px 2px 100px white;
          box-shadow:inset 1px 2px 100px white;
        }}
          } } 

  .home_controller{
    h1{
        color:white;
        font-weight: bold;
        -moz-box-shadow:inset 1px 1px 15px black;
        -webkit-box-shadow:inset 1px 1px 15px black;
        box-shadow:inset 1px 1px 15px black;
        border-radius: 10px;
        -moz-border-radius: 10px;         
        -webkit-border-radius: 10px;
        -khtml-border-radius: 10px;
        padding: 5px;}

    .index_action {
      h1{
        width: 600px;}
      article
      {
        float: left;
        width: 800px;
        p{

        }
      }  
      aside{
        float: right;
        margin-right: 50px;
      }  
    }

    .about_action {
      h1{
        width: 70px;
        }
    }
    .offert_action {
      h1{
        width: 74px;
        }
    }
     .prices_action{
        h1{
          width: 80px;
          }
     }
  }

  .users_controller{
    .new_action{
        
      h1{
        color:white;
        font-weight: bold;
        width: 125px;
        -moz-box-shadow:inset 1px 1px 15px black;
        -webkit-box-shadow:inset 1px 1px 15px black;
        box-shadow:inset 1px 1px 15px black;
        border-radius: 10px;
        -moz-border-radius: 10px;         
        -webkit-border-radius: 10px;
        -khtml-border-radius: 10px;
        padding: 5px;
        }

      form {
        width: 400px;
        list-style: none;
      input {
        float:left;
        border: none;
        padding: 10px; 
         border-radius: 10px;
        -moz-border-radius: 10px;         
        -webkit-border-radius: 10px;
        -khtml-border-radius: 10px;
      }
      label {
        font-weight: bold;
        color:white;
        margin-top: 4px;
        width: 195px;
        display: block;
        float: left; }
      input[type=text], input[type=password] {
        direction: rtl; }
     input[type=submit] {
        float: left;
        border: 2px solid black;
        background: rgb(246,248,249); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* IE10+ */
        background: linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
        -moz-box-shadow:inset 1px 1px 15px black;
        -webkit-box-shadow:inset 1px 1px 15px black;
        box-shadow:inset 1px 1px 15px black;
        margin-right: 50px;
        margin-top: 10px;
        width: 95px; }
      .inline-errors {
        display: inline; } 
      input:focus{
        border: 3px solid black;
        border-radius: 10px;
        -moz-border-radius: 10px;         
        -webkit-border-radius: 10px;
        -khtml-border-radius: 10px;
      }
      input[type=submit]:hover
      {
        border: 3px solid white;
        background: red;
        -moz-box-shadow:inset 1px 2px 100px black;
        -webkit-box-shadow:inset 1px 2px 100px black;
        box-shadow:inset 1px 2px 100px black;
        color: white; 
        font-weight: bold;
      }
      input[type-submit]:focus
      {
        border: 3px solid white;
        background: red;
        color: black; 
        -moz-box-shadow:inset 1px 2px 100px white;
        -webkit-box-shadow:inset 1px 2px 100px white;
        box-shadow:inset 1px 2px 100px white;
      }
  }}}
}   