%h1
  Logowanie
= semantic_form_for @user_session, :method => :post do |f|
  = f.input :login, :label => 'Login:', :required=>false
  = f.input :password, :label => 'Hasło:', :required=>false
  = f.submit :value => 'Zaloguj!'