#logo
  Tutaj jest logo kurczaka
#user_panel
  - if current_user
    = link_to "Logout", user_session_path(current_user), :method => :delete
    = link_to current_user.login, user_path(current_user)
  - else
    = link_to "Login", new_user_session_path
    = link_to "Rejestracja", new_user_path