#logo
  Tutaj jest logo kurczaka
#user_panel
  - if current_user
    = link_to "Logout", current_user, :method => :delete
    = current_user.login
  - else
    = link_to "Login", new_user_session_path